@charset "utf-8";
/*
:root{
    
}
*/
.bg-greenbean{
    background-color: #7E8C24;
}

.banner-text{
   font-size: 1rem; 
}
/*
#topNav{
    font-size: .875rem;
}
*/
@media screen and (max-width: 576px) {
    html{
        font-size: 20px;
    }
}
.only-pc > li{
    margin-left: .5rem;
}
.only-pc a{
    color: inherit;
}
.main-logo{
    max-width: 320px;
}
.main-logo img{
    width: 100%;
    object-fit: cover;
}